# --- Секреты и переменные окружения ---
# Никогда не добавляйте секреты в систему контроля версий.
# Файл с паролями и токенами.
.env

# Папка с SSL-сертификатами и ключами.
# Игнорируем все содержимое папки с секретами postgres,
# но оставляем публичный сертификат server.crt.
# ВАЖНО: Приватный ключ server.key будет проигнорирован.
/secrets/postgres/*
# !/secrets/postgres/server.crt

# --- Данные базы данных ---
# Папка с файлами базы данных PostgreSQL. Она может весить гигабайты.
/postgres/*


# --- Python ---
# Виртуальные окружения.
.venv/
venv/
*/.venv/
.vscode

# Файлы кэша Python.
__pycache__/
*.pyc


# --- Логи и временные файлы ---
*.log

# Медиа-файлы, которые загружают пользователи (если будут)
/media/
/uploads/

# Кэш сборки Docker
.dockerignore
docker-compose.override.yml
docker-compose.yml

# Directory for API testing scripts
api_tests/

# Игнорировать все секретные файлы и конфигурации
secrets/postgres/server.key

# Игнорировать SQL дампы
dump_*.sql
